@model IEnumerable<Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
<h1>List of Categories</h1>

<div class="container p-4">
    <div class="row">
        <div class="col-6">
            categories
            </div>
             <div class="col-6">
                 <a asp-action="CreateUpdate" asp-controller="Category"><i class="bi bi-bag-plus-fill"></i> </a>
            </div>

        </div>

</div>




<table class="table table-bordered table-striped"  style="width:80% ; margin:auto">
    <thead>
        <tr>
        @*    <th>ID</th>*@
            
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Action</th>
</tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            @*    <td>@item.ID</td>*@
            <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td role="group">
                    <a asp-action="CreateUpdate" asp-controller="Category" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i></a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.ID"><i class="bi bi-trash"></i></a>
                </td>
                        
                @*<td>@item.Created_Date</td>*@
        </tr>}
    </tbody>
</table>